.left-side {
    position: relative;
    background-color: #343A3F;
    width: 16%;
    height: 100vh;
    left: 0px;
    top: 0px;
    /* position: fixed; */
}

.left-side-content {
    width: 250px;
    color: #000000;
    margin-left: 10px;
}

.left-side-content .logo {
    font-size: 4rem;
    padding: 5px 15px;
    font-family: Titillium Web;
    top: 5px;
}

.left-side-content .nav {
    position: absolute;
    left: 0;
}

.left-side-content a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 5px 24px 5px 20px;
    width: 100%;
}

.left-side-content svg {
    justify-content: center;
    margin-right: 7px;
    color: #ffffff;
    padding: 0 auto;
    margin-bottom: 20px;
    margin-left: 20px;
}

.left-side-content p {
    padding: 7px 7px 7px 10px;
    font-size: 1.1rem;
    margin: 0;
    align-items: center;
}

.ha {
    display: flex !important;
}

.logo {
    font-size: 40px;
    color: #ffffff;
    font-style: italic;
}

.logo-Z {
    position: absolute;
    top: -25px;
    font-size: 7rem;
    font-style: normal;
    background: linear-gradient(0, #990033, #CC0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Zilla_Slab;
    margin-left: 5px;
}

.name-page {
    margin: 1rem 0 2rem 1rem;
    position: absolute;
    top: 3.5rem;
    left: 16.5rem;
    width: 200px;
}

.name-page p {
    color: #746c6c;
    background-color: #CC0000;
}

.name-page img {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    top: 10%;
}

.name-page #page-content {
    color: #000000;
}

name-page #page-content {
    color: #000000;
}


/* =================left-side-short================= */

.left-side-short {
    position: relative;
    background-color: #343A3F;
    width: 7%;
    height: 100vh;
    right: 10px;
    top: 0px;
    /* position: fixed; */
}

.left-side-short .left-side-content .nav {
    position: relative;
    width: 60%;
}

.left-side-short .LOGO {
    visibility: hidden;
}

.left-side-short .left-side-content p {
    padding: 7px 7px 7px 0px;
    font-size: 1.2rem;
    margin-left: auto;
    display: flex;
    color: red;
    position: absolute;
    /* width: 100px; */
    visibility: hidden;
}

.left-side-short .left-side-content p svg {
    color: #ffffff;
    /* padding: 0 auto; */
    margin-bottom: 20px;
    visibility: visible;
    margin-left: 50px;
}


.left-side-short .left-side-content a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.left-side-short .left-side-content p .ha .hi {
    display: inline-block;
    width: 0;
    padding: 0;
}